<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body  {background-color: #a04005;}
    h1 { color: blueviolet; font-size: 2em; text-align: center;}
    p {color: #fafafa; font-size: 1.5em; }
    </style>
</head>
<body>
    <%- include ('blocks/header.ejs') %>
    <h1> Это главная страница!</h1>
    <p>Здесь будет информация про меня.</p>
</body>
</html>